{% extends "base.html" %}
{% load staticfiles %}

{% block extend-css %}
<link href="{% static "css/lib/ionicons.css"%}" type="text/css" rel="stylesheet" />
<link href="{% static "scss/qna.scss"%}" type="text/x-scss" rel="stylesheet" />
{% endblock %}

{% block extend-js %}
<script src="{% static "js/qedit.js" %}"></script>
{% endblock %}

{% block main %}
<form action="" method="POST" id="question_form">{% csrf_token %}
  <section id="question-title">
    <label for="id_title">
      Title:
    </label>
    {{ question_form.title }}
  </section>

  <section id="errors">
    <!-- FIXME -->
  {% for error in formset.errors %}
    <div>
      {{ error }}
    </div>
  {% endfor %}
  </section>

  <section id="question-area">
      <h2> Question </h2>
      {{ question_form.text }}
  </section>

  <section id="answer-area">
    <h2> Answers </h2>
    {{formset.management_form}}
    {% for form in formset %}
    <div class="answer">

      <div class="answer-selector">
        {{ form.is_correct }}
      </div>

      <div class="answer-content">
        <div class="answer-text">
          {{ form.text.label }}
          {{ form.text }}
        </div>

        <div class="explanation">
          <div class="collapse-label">
            {{ form.explanation.label }} (recommended) <i class="icon ion-ios7-arrow-down"></i> <i class="icon ion-ios7-arrow-forward"></i>
          </div>
          {{ form.explanation }}
        </div>
      </div>
    </div>

    {% endfor %}
    <div class="form_buttons">
      <button type="submit" name="confirm" id="confirm">
        <span>Submit</span>
      </button>
    </div>
  </section>
</form>
{% endblock %}
